[Unit]
Description=Open gnome session in display %I
After=xvfb@.service

[Service]
Environment="DISPLAY=%I"
Environment="XDG_SESSION_TYPE=x11"
ExecStart=/bin/gnome-session --disable-acceleration-check

[Install]
WantedBy=default.target
