[Unit]
Description=Run Xvfb for display %I

[Service]
Environment="XVFB_SCREENS=-screen 0 1200x800x24"
ExecStartPre=mkdir -p /tmp/xvfb
ExecStart=Xvfb %I $XVFB_SCREENS -fbdir /tmp/xvfb

[Install]
WantedBy=default.target
