[Unit]
Description=Run shadow vnc server for display %I
After=xvfb@.service

[Service]
Environment="DISPLAY=%I"
ExecStart=x0vncserver -SecurityTypes=None

[Install]
WantedBy=default.target
