[Unit]
Description=Open gnome session with envfile %I
After=xvfb@.service

[Service]
EnvironmentFile=%I
Environment="DISPLAY=$DISPLAY"
Environment="XDG_SESSION_TYPE=x11"
ExecStart=/bin/gnome-session --disable-acceleration-check

[Install]
WantedBy=default.target
