[Unit]
Description=Run gnome session
After=xvfb.service

[Service]
EnvironmentFile=/etc/gnome-docker/env
Environment="XDG_SESSION_TYPE=x11"
ExecStart=/usr/local/bin/gnome

[Install]
WantedBy=default.target
