[Unit]
Description=Run shadow vnc server
After=xvfb.service

[Service]
EnvironmentFile=/etc/gnome-docker/env
ExecStart=/usr/local/bin/vnc

[Install]
WantedBy=default.target
