[Unit]
Description=Run shadow rdp server
After=xvfb.service

[Service]
EnvironmentFile=/etc/gnome-docker/env
ExecStart=/bin/freerdp-shadow-cli3 ${RDP_OPTION}

[Install]
WantedBy=default.target
