[Unit]
Description=Run shadow rdp server with envfile %I
After=xvfb@.service

[Service]
EnvironmentFile=%I
Environment="DISPLAY=$DISPLAY"
ExecStart=/bin/freerdp-shadow-cli3 -auth /monitors:0

[Install]
WantedBy=default.target
