[Unit]
Description=Run Xvfb for envfile %I

[Service]
EnvironmentFile="/etc/xvfb/%I/env"
Environment="DISPLAY=$DISPLAY"
Environment="XVFB_SCREENS=-screen 0 ${SCREEN}"
ExecStartPre=mkdir -p /tmp/xvfb
ExecStart=/bin/Xvfb %I $XVFB_SCREENS -fbdir /tmp/xvfb -noreset +extension GLX +render

[Install]
WantedBy=default.target
