[Unit]
Description=Run shadow vnc server
After=xvfb.service

[Service]
EnvironmentFile=/etc/gnome-docker/env
ExecStart=/bin/x0vncserver ${VNC_OPTION}

[Install]
WantedBy=default.target
