[Unit]
Description=Run shadow vnc server for envfile %I
After=xvfb@.service

[Service]
EnvironmentFile=%I
Environment="DISPLAY=$DISPLAY"
ExecStart=/bin/x0vncserver -SecurityTypes=None

[Install]
WantedBy=default.target
